$white: #f2efeb;
$black: #3b3833;

$bright-white: #fdfcfa;
$dark-black: #000000;

$glass: rgba(255, 255, 255, 0.55);

$primary-color: #5d755a;
$primary-dark-color: #546951;
$primary-light-color: #749170;

$secondary-color: #34403e;
$third-color: #b0844f;
